body{
    background-color: white;
    margin: 0 auto;
    padding: 0;
}
header{
    margin: 0;
    padding: 0;
    background-color: white;
    width: 100%;
    height: 102px;
    display: flex;
    justify-items: center;
    justify-content: center;
    position: fixed;
}
.header{
    margin:0;
    padding: 0;
    width: 1100px;
    height: 100px;
    display: flex;
    justify-content: space-around;

}
.logo{
    width: 140px;
    font-size: 26px;
    text-align: center;
    display: flex;
    align-items: center;
}
.opc{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    width: 770px;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}
main{
    padding-top: 100px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-items: center;
    justify-content: center;
}
.arte{
    height: 900px;
    width: 1025px;
    display: flex;
    justify-items: center;
    align-items: center;
    background-image: url(1.webp);
    
}
.texto{
    color:white;
    justify-content: center;
    height: 900px;
    width: 980px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.15);
}
.titulo{
    
    font-size: 70px;
}
.legenda{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: 0.55em;
}
.botao{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 142px;
    height: 40px;
    border: 1px solid white;
}
footer{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    width: 100%;
    height: 114px;
    line-height: 1.5em;
    text-align: center;
}
.icones{
    width: 180px;
    height: 25px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 15px;


}